* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}
body {
  background-color: black;
  color: white;

  padding: 1rem 3rem;
}
h2 {
  color: wheat;
  letter-spacing: 1px;

  padding: 1rem 0px;
}
p,
li,
label {
  color: wheat;
  font-weight: 600;
  padding: 2px 0;
}
div {
  /* background-color: blueviolet; */
  /* border: 2px solid red; */
  padding: 10px 0px;
}
button {
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 10px;
}
.notify {
  border: 2px solid green;
  padding: 0.8rem 1.2rem;
  width: fit-content;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}
