body {
  background: linear-gradient(180deg, darksalmon, darksalmon);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blog {
  border-radius: 10px;
  padding: 2px 1rem;
  background-color: rgba(139, 0, 0, 0.303);
  color: black;
  margin: 1rem 0;
}
.blog .title {
  font-size: 1.2rem;
  font-weight: 600;
}
.blog .author {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}
.loginForm,
.blogForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  flex-direction: column;
  margin: 1rem auto;
}
.blogForm {
  gap: 0.5rem;
}
.loginForm label,
.blogForm label {
  font-weight: 600;
}
.loginForm div,
.blogForm div {
  display: flex;

  flex-direction: column;
  gap: 0.75rem;
}
.blogForm div {
  gap: 0.25rem;
}
.blog-more p {
  font-weight: 600;
  color: black;
}
.blog-more p span {
  font-weight: 600;
  color: darkred;
}
.loginForm input,
.blogForm input {
  border: darkred 2px solid;
  border-radius: 10px;
  padding: 5px 1rem;
  font-weight: 600;
  outline-color: darksalmon;
}

.login-btn,
.logout-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid darkred;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem auto;
  text-transform: capitalize;
}
.toggle-btn {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 2px solid darkred;
  font-weight: 600;
  text-transform: capitalize;
}
.logout-btn {
  margin: 0.5rem auto;
}
.loggedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-btn:hover,
.logout-btn:hover {
  background-color: darkred;
  color: white;
}
.user-logged {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 2.5rem 0 0;
}
